body {
  background-color: black;
}

/*
.headerContainer {
  background: rgb(4,8,45);
  background: linear-gradient(90deg, rgba(4,8,45,1) 0%, rgba(11,116,233,0.9808123078332895) 100%);
  background-image: url(https://cdn.pixabay.com/photo/2019/06/03/10/51/texture-4248634_960_720.jpg);
}
*/

.headerContainer ul li {
    list-style: none;
    float: left;
    margin-left: 50px;
    padding: 15px;
    color: rgb(129, 128, 126);

}

a {
    color: rgb(114, 114, 116);
    text-decoration: none;
    transition: all ease 0.7s;
    -moz-transition: all ease 0.7s;
    -webkit-transition: all ease 0.7s;
    -o-transition: all ease 0.7s;
    -ms-transition: all ease 0.7s;
}


h1 {
    color: rgb(180, 175, 175);
    font-size: 55px;
    padding: 35px;

}

.picIndex {
  max-width: 130%;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.indexContainer {
  background-repeat: no-repeat;
  width: 95%;
  height: 600px;
  background-image: url(https://cdn.pixabay.com/photo/2018/02/22/19/03/dandelion-3173706_960_720.jpg);
   background-position: right;
}

.imgIndex {
  float: right;
}



h1 {
  margin-top: 20px;
 font-size: 60px;
 color: white;
}

.wordNature {
    margin-left: 370px;
    margin-top: 30px;
    font-size: 70px;
    color: white;
}

.wordOf {
  margin-left: 280px;
font-size: 40px;
color: white;
}

.wordConnect {
 margin-left: 160px;
 font-size: 41px;
 margin-top: -240px;
}

.wordSilence {
  writing-mode: vertical-lr;
  margin-left: 330px;
  margin-top: -110px;
  font-size: 60px;
}

.wordHome {
 margin-left: 315;
 margin-top: 72px;
 font-size: 50px;
}

.wordArt {
 margin-left: 549px;
 font-size: 43px;
 margin-top: -165px;
 position: absolute;
}

.wordUniverse {
 margin-top: -207px;
font-size: 40px;
position: absolute;
margin-left: 452px;
}

.wordMacro {
     position: absolute;
    margin-top: -345px;
    writing-mode: vertical-lr;
    font-size: 35px;
    margin-left: 410px;
}

.wordCons {
  position: absolute;
  margin-top: -267px;
 margin-left: 450px;
 font-size: 60px;
 color: #4a5353;
}

.wordExistence {
   position: absolute;
 writing-mode: vertical-lr;
 margin-left: 600px;
 font-size: 50;
 margin-top: -180px;
 color: #36882b;
}

.wordWhole {
 position: absolute;
 margin-left: 416px;
 margin-top: -169px;
 font-size: 43px;
}

.wordAir {
 position: absolute;
 margin-left: 210px;
 font-size: 45px;
 margin-top: -235px;
}

.wordOcean {
  position: absolute;
  writing-mode: vertical-lr;
  margin-left: 100px;
 font-size: 55px;
 margin-top: -265px;
}


.wordUnique {
  position: absolute;
 writing-mode: vertical-lr;
 margin-left: 162px;
 font-size: 35px;
 margin-top: -220px; 
  color: #4a5353
}
.pic1 {
    width: 270;
    height: 330px;
    float: left;
    box-sizing: border-box;
    margin-top: 350px;
}

.containerPic {
  margin: 80px 45px 45px 0px;
}

p {
  color:rgb(114, 114, 116);
}

.pFirstLetter::first-letter {
    color: gray;
    font-size: 30px;
}

.footerImage {
    width: 300px;
}

.footerContainer {
  background-image: url(https://i.pinimg.com/736x/06/6a/35/066a353e307536a84844d7280c1215ef.jpg);
  background-position: right;
  background-repeat: no-repeat;
  height: 250px;
 padding-top: 79px;
 margin-left: 250px;
}

/*.headerImage {
width: 1366; 
height: 768;
}
*/
.adress {
    color: rgb(95, 97, 93);
   
}

.tel {
   color: rgb(95, 97, 93);

}

.email {
  color: rgb(95, 97, 93);
}

ion-icon {
  font-size: 25px;
  color: white;
}


.icons a {
  list-style: none;
  margin: 20px;
}

.icons {
  font-size: 45px;
  color: rgb(95, 97, 93);
}

.icons:hover {
  color: white;
  transition: all ease 0.7s;
  
}